.product-adding-cart{
    &__content{
        padding: 10px ;
    }
    &__title{
        color:  #6F6F6E;
        font-size: 26px;
        font-family: Roboto;
        margin-bottom: 23px;
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        margin-top: 34px;
    }
   
}




.product-adding-cart-item{
    border-radius: 5px;
    border: 1px solid  #CECCCC;
    overflow: hidden;
    &__content{
        padding: 21px 6px 19px;
    }
    &__row{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__img{
        width: 200px;
        height: 200px;
        display: flex;
        flex-shrink: 0;
        margin: 0 auto;
        img{
            max-width: 100%;
            height: auto;
        }
    }

 
    &__name{
        color: #000;
        font-size: 18px;
        font-family: Roboto;
        margin-bottom: 20px;
    }
    &__price{
        margin-bottom: 12px;
        &-title{
            color:  #6F6F6E;
            font-size: 12px;
            font-family: Roboto;
            margin-bottom: 4px;
        }
        &-number{
            color: #000;
            font-size: 24px;
            font-family: Roboto;
            font-weight: 700;
        }
    }
    &__solde{
        font-size: 14px;
        font-family: Roboto;
        margin-bottom: 13px;
        &-old{
            color:  #6F6F6E;
            font-size:inherit;
            font-family:inherit;
        }
        &-new{
            font-size:inherit;
            font-family:inherit;
            color: #FF5273;
        }
    }
    &__stoke{
        color:  #1867B4;
        font-size: 12px;
        font-family: Roboto;
    }
}


@media screen  and (min-width:1200px){
   
    .product-adding-cart{
        // height: 300px;
        overflow: auto;
        &__content{
            padding: 43px 56px;
        }
        &__buttons{
          flex-direction: row;
          gap: 20px;
        }
        &__title{
            font-size: 36px;
        }
       
       
    }

    .product-adding-cart-item{
        border-radius: 5px;
        border: 1px solid  #CECCCC;
        overflow: hidden;
        &__content{
            padding: 21px 6px 19px;
        }
        &__row{
          
            flex-direction: row;
        }
        &__img{
            width: 210px;
            height: 210px;
            margin: unset;
        }
    
     
        &__name{
            color: #000;
            font-size: 18px;
            font-family: Roboto;
            margin-bottom: 20px;
        }
        &__price{
            margin-bottom: 12px;
            &-title{
                color:  #6F6F6E;
                font-size: 12px;
                font-family: Roboto;
                margin-bottom: 4px;
            }
            &-number{
                color: #000;
                font-size: 24px;
                font-family: Roboto;
                font-weight: 700;
            }
        }
        &__solde{
            font-size: 14px;
            font-family: Roboto;
            margin-bottom: 13px;
            &-old{
                color:  #6F6F6E;
                font-size:inherit;
                font-family:inherit;
            }
            &-new{
                font-size:inherit;
                font-family:inherit;
                color: #FF5273;
            }
        }
        &__stoke{
            color:  #1867B4;
            font-size: 12px;
            font-family: Roboto;
        }
    }
}