.header-top {
  background: #E5F6FE;
  height: 10.5px;
}
.header-top__container {
  display: none;
}
.header-center {
  padding: 8px 0 18px;
}
.header-center__top {
  display: none;
}
.header-center__bottom {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
.header-center__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
}
.header-center__gestion {
  flex-shrink: 0;
  display: flex;
  gap: 0 24px;
}
.header-center__infos {
  display: none;
}
.header__logo {
  display: flex;
  max-width: 156px;
}
.header__logo img {
  max-width: 100%;
  height: auto;
}

.gestion {
  max-width: 26px;
  position: relative;
}
.gestion__icon {
  display: flex;
}
.gestion__icon svg {
  max-width: 100%;
  height: auto;
}
.gestion__quantity {
  position: absolute;
  top: -2px;
  right: -5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  width: 16px;
  height: 16px;
  padding: 2px 1px;
  background: #FF0736;
  border-radius: 50%;
}

.menu-top {
  max-width: 502px;
  width: 100%;
}
.menu-top__list {
  width: 100%;
  display: flex;
  gap: 0 20px;
  flex-wrap: wrap;
}
.menu-top__item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6F6F6E;
}

._link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
}
._link--red {
  color: #FF5273;
}

@media screen and (min-width: 1200px) {
  .header-top {
    padding: 10px 0 11px;
    background: #E5F6FE;
    min-height: 35px;
    height: unset;
  }
  .header-top__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
  }
  .header-top__info {
    display: flex;
    align-items: center;
    gap: 0 40px;
  }
  .header-top__work-time {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #6F6F6E;
  }
  .header-top__email {
    display: flex;
    align-items: center;
    gap: 0 17px;
  }
  .header-top__email-icon {
    flex-shrink: 0;
    display: flex;
  }
  .header-top__email-icon svg {
    max-width: 100%;
  }
  .header-top__email-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #6F6F6E;
  }
  .header-top__gestion {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0 24px;
  }
  .header-center {
    padding: 8px 0 39px;
  }
  .header-center .burger {
    display: none;
  }
  .header-center__top {
    display: block;
    margin-bottom: 6px;
  }
  .header-center__bottom {
    flex-direction: row;
    gap: 0 146px;
    align-items: flex-end;
  }
  .header-center__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .header-center__gestion {
    display: none;
  }
  .header-center__infos {
    display: block;
  }
  .header-center__right {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    gap: 0 81px;
  }
  .header-center__right .form {
    flex-grow: 1;
  }
  .header-center__tel {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-bottom: 11px;
  }
  .header-center__tel .icons {
    display: flex;
    align-items: center;
    gap: 0 12px;
  }
  .header-center__tel .icons .icon {
    max-width: 17px;
    display: flex;
  }
  .header-center__tel .icons .icon svg {
    max-width: 100%;
  }
  .header-center__tel-number {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #6F6F6E;
  }
  .header-bottom {
    background: #02A2F6;
  }
}/*# sourceMappingURL=header.css.map */