.input__search{
    height: 33px;
    position: relative;
    input{
        width: 100%;
        height: 100%;
        border: 2px solid #FFE60D;
        border-radius: 5px;
        padding-left: 32px;
        padding-right: 48px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #CECCCC;

        &::placeholder{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #CECCCC;
        }
    }

    &-icon{
        // z-index: 1;
        cursor: pointer;
        width: 41px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background: #FFE60D;
        border-radius: 0px 5px 5px 0px;

        svg{
            circle,line{
                stroke: #FFFFFF;
            }
            
        }
    }
}


@media screen and (min-width:1200px) {
    .input__search{
        height: 43px;

        input{

            padding-left: 45px;

            
        }

        &-icon{
         
            width: 20px;
            height: 20px;
         
            right: auto;
            left: 13px;
            top: 50%;
            transform: translateY(-50%);
            background: unset;
            border-radius:0;
            // border:1px solid red;

            svg{
                circle,line{
                    stroke: #CECCCCEB;
                }
                
            }
        }
    }

}