.item-advertisement{
    
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
        max-width: 100%;
        height: auto;
    }
    
}
.advertisement{

    .swiper-button-prev,.swiper-button-next{
        display: none;
    }
    .swiper-pagination-bullet{
        display: none;
    }
}



@media screen and (min-width:1200px) {
    .advertisement{
        margin-top: 12px;
        .swiper-button-prev,.swiper-button-next{
            display: flex;
        }
        .swiper-pagination-bullet{
            display: inline-block;
        }
       
    }
}