.item-advertisement{
    
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
        max-width: 100%;
        height: auto;
    }
    
}



@media screen and (min-width:1200px) {
    .advertisement{
        margin-top: 12px;
    }
}