.advantages{
    margin-bottom: 29px;
    &__row{
        display: flex;
        justify-content: space-between;
        gap: 0 15px;
    }
}

.item-advantages{
    max-width: 210px;
    &__content{
        padding:  0 5px;
    }
    &__icon{
        width: 118px;
        height: 119px;
        margin: 0 auto 18px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #6DBC25;
        
    }
}