.list-article{
    &__row{
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
}


@media screen and (min-width:1200px) {

    .list-article{
        &__row{
            display: grid;
            flex-direction: unset;
            grid-template-columns: repeat(4,1fr);
            align-items: unset;
            gap: 0 30px;
        }
    }

}