.list-article{
    &__row{
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
}

.article-preview{
    max-width: 323px;
    width: 100%;
    border: 1px solid #CECCCC;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    &__content{
        max-width: 200px;
        width: 100%;
        position: absolute;
        left: 12px;
        top: 7px;
         z-index: 1;
         *{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            
            color: #000000;
         }
    }

    &__title{
        margin-bottom: 10px;
    }
    &__place{
        margin-bottom: 10px;
    }
  
    &__img{ 
       
        width: 100%;
        height: 150px;
        display: flex;

        img{
           width: 100%;
            height: auto;
        }
    }
}

@media screen and (min-width:1200px) {
  


    .list-article{
        &__row{
            display: grid;
            flex-direction: unset;
            grid-template-columns: repeat(4,1fr);
            align-items: unset;
            gap: 0 30px;
        }
    }

   

    .article-preview{
        max-width: 256px;
      
        &__content{

            left: 9px;
            top: 7px;
            
        }
    
      
    }

   


}