*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    outline: none;
    border: none;
    background: transparent;
}

ul,ol{
    list-style: none;
}


a{
    text-decoration: none;
}

.wrapper{
    padding: 0 16px;
}

input{
    &:focus{

        outline: none;
    }
}

