*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    outline: none;
    border: none;
    background: transparent;
}

ul,ol{
    list-style: none;
}


a{
    text-decoration: none;
}

.wrapper{
    padding: 0 16px;
}

input{
    &:focus{

        outline: none;
    }
}

@media screen and (min-width:1200px) {
    .wrapper{
        padding: unset;
        max-width: 1139px;
        width: 100%;
        margin:  0  auto;
    }
}

.swiper-button-prev,.swiper-button-next{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1.5px solid #FFFFFF;
    &::after{
        font-size: 20px;
        color: #FFFFFF;
    }
}

.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    border: 2px solid #C4C4C4;
    background: transparent;
}

