.home-page{

    &__link-wrapper{
        margin: 13px 0 15px;
    }

    &__title-categories{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #6F6F6E;      
        margin-bottom: 13px;
    }
    .advantages{
        display: none;
    }
   
}










.section-home-page{
    margin-bottom: 19px;
}

///////////////////////////////

.home-page-product{
    margin-bottom: 49px;

    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #6F6F6E;
        margin-bottom: 13px;

    }
}

.list-product{
    &__row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 14px 13px;
    }
}

.product{
    position: relative;
    border: 1px solid #CECCCC;
    border-radius: 5px;
    &__content{
        padding: 13px 14px 10px;
    }
    &__head{
        // border: 1px solid red;
        margin-bottom: 13px;
    }
    &__like-icon{
        position: absolute;
        top: 7px;
        right: 8px;
        z-index: 1;
        display: flex;


    }
    &__bull-info{
        z-index: 1;
        position: absolute;
        top: 6px;
        left: 7px;
        background: #FF0736;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        padding: 0 6px;
        color: #FFFFFF;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        
    }
    &__img{
        height: 129px;
        max-width: 129px;
        display: flex;
        margin: 0 auto;

        img{
            max-width: 100%;
            height: auto;
        }
    }
    &__name{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        
        color: #000000;
        margin-bottom: 16px;
        
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
        -webkit-box-orient: vertical;
        height: 30.05px;

    }
    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 5px;
        &-left{
            flex-shrink: 0;
        }
    }
    &__price{
        &-title{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;

            color: #6F6F6E;
            margin-bottom: 3px;
        }
        &-number{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            margin-bottom: 7px;

        }

        &-state{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;

            color: #1867B4;

        }

    }
    &__sizes{
        display: flex;
        flex-wrap: wrap;
        gap: 8px 18px;
        margin-bottom: 8px;
    }
    &__size{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #6F6F6E;
        &:hover{
            color: #02A2F6;
        }
        
    }

    &__colors{
        display: flex;
        flex-wrap: wrap;
        gap: 13px;
    }
    &__color{
        width: 29px;
        height: 29px;
        background: red;
        border-radius: 50%;
        overflow: hidden;
    }

    &__body{
        margin-bottom: 9px;
    }

}

.button-second{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 6px;
    background: #6DBC25;
    border-radius: 5px;

    &__text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }
}

.home-page-blog{
    margin-bottom: 90px;
    &__title{
        margin-bottom: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        
        color: #000000;        
    }
}



.home-popular-categorie{

    margin-bottom: 48px;
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #6F6F6E;
        margin-bottom: 32px;
    }
   
}





@media screen and (min-width:1200px) {
    .home-page{
        &__link-wrapper{
            display: none;
        }
    
        &__title-categories{
            text-align: unset;
            font-size: 36px;
            line-height: 42px;
            margin:46px 0 47px ;
        }

        .advantages{
            display: block;
        }
    }

    .section-home-page{
        margin-bottom: 57px;
    }

   
   

    .list-product{
        &__row{
            grid-template-columns: repeat(4,1fr);
            gap: 14px 30px;
        }
    }

    .button-second{

        padding: 7px 16px;
        &__text{
            font-size: 18px;
            line-height: 21px;
        }
    }

    .home-page-product{
        margin-bottom: 51px;
        &__title{
            margin-bottom: 30px;
        }
    }

    .product{

        &__content{
            padding: 19px 23px 8px 22px;
        }
        &__head{
            margin-bottom: 19px;
        }
        &__like-icon{
            top: 11px;
            right: 13px;    
        }
        &__bull-info{

            top: 9px;
            left: 11px;

            font-size: 36px;
            line-height: 42px;
            width: 45px;
            height: 47px;

            
        }
        &__img{
            height: 210px;
            max-width: 210px;
        }
        &__name{

            font-size: 18px;
            line-height: 21px;
            margin-bottom: 18px;
            
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
                    line-clamp: 3; 
            -webkit-box-orient: vertical;
            height:63px;
        }
        &__footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 5px;
            &-left{
                flex-shrink: 0;
            }
        }
        &__price{
            &-title{

                margin-bottom: 4px;
            }
            &-number{
                font-size: 24px;
                line-height: 28px;

                margin-bottom: 4px;
            }
    
         
    
        }
       
        &__size{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #6F6F6E;
            &:hover{
                color: #02A2F6;
            }
            
        }
    
      
       
    
        &__body{
            margin-bottom: 9px;
        }

       
    
    }

   

    .home-page-blog{
        margin-bottom: 58px;
        
    }


    .home-popular-categorie{

        margin-bottom: 51px;
        &__title{
            color: #000000;
        }
       
    }

   


}