.item-categorie{
    border: 1px solid #CECCCC;
    border-radius: 5px;
    &__content{
        padding: 8px 18px 15px;
    }
    &__img{
        max-width: 121.68px;
        height: 121.68px;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid;
        margin: 0 auto 7px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    &__title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        text-align: center;
        color: #6F6F6E;        
    }
}



@media screen and (min-width:1200px) {
    

    .item-categorie{
        &__content{
            padding: 6px 22px 24px;
        }
        &__img{
            max-width: 160.16px;
            height: 160px;
            margin: 0 auto 29px;
            img{
                max-width: 100%;
                height: auto;
            }
        }
        &__title{
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;       
        }
    }

}